# ==========================================
# Compilação e Build (Maven / Gradle)
# ==========================================
target/
build/
out/
*.class

# ==========================================
# Variáveis de Ambiente e Segredos
# ==========================================
.env
.env.local
application-local.yml
application-local.properties

# ==========================================
# Logs e Dumps
# ==========================================
*.log
*.hprof
*.hs_err_pid*

# ==========================================
# IDEs (IntelliJ IDEA, Eclipse, VS Code)
# ==========================================
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.vscode/

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db